.card{
    border: solid 2px #01cc65;
    width: 80%;
    height: 450px;
    margin: 0.5rem;
    border-radius: 5px;
}
.bandera{
    margin-top: 2rem;
    width: 80%;
    height: 60%;
}
.card:hover{
    /* cursor: pointer; */
    background-color: rgb(93, 93, 248);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.06, 1.06);
}
.card-button:hover{
    cursor: pointer;
    transform:scale(1.06, 1.06);
}