.main-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(247, 235, 235);
}

.section-1{
    display: flex;
    background-color: rgb(167, 167, 148);
    
}
.section-1 span{
    margin-top: 1rem;
    margin-left: 4rem;
}

.busquedas{
    display: flex;
    
}

.abc{
    margin: 0.5rem;
}
.population{
    margin: 0.5rem;
}
.continent{
    margin: 0.5rem;
}
.superficie{
    margin: 0.5rem;
}
.activities{
    margin: 0.5rem;
}