body{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,161,253,1) 100%);
}
.activity-creates{    
    border: solid 1px black;
    width: 60%;
    height: 600px;
     margin: 2rem; 
    margin-left: 15%;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,205,45,1) 100%);
    border-radius: 5rem;
  
}

.span-country{
    padding: 1rem;
}
